<div class="main" [ngClass]="{'dark': filler.gettheme() === 'dark'}">
    <div class="sub">
        <h3>Get In Touch</h3>
        <h1 (mouseenter)="filler.circleWidthHandler()" (mouseleave)="filler.circleWidthHandler()">CONTACT ME</h1>
        <div class="social-links">
            <ul>
              <a data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" target="_blank" href="https://twitter.com/harshrjjpt">
                <li class="twitter"><img src="./assets/twitter (2).png" alt="" /></li
              ></a>
              <a data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" target="_blank" href="https://github.com/harshrjjpt"
                ><li class="github"><img src="./assets/github.png" alt="" /></li
              ></a>
              <a data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000"
                target="_blank"
                href="https://www.linkedin.com/in/harsh-rajput-0315381a8/"
                ><li class="linkedin"><img src="./assets/linkedin.png" alt="" /></li
              ></a>
            </ul>
          </div>
          <a
      href="https://docs.google.com/document/d/1DnUIjLmtg1cdGWqvrbdy3_h5FbuwPKt-/edit?usp=sharing&ouid=115407358632877508965&rtpof=true&sd=true"
      target="_blank"
    > <button (mouseenter)="filler.circleWidthHandler()" (mouseleave)="filler.circleWidthHandler()">Download Resume</button></a>
          
    </div>
</div>
