<div class="main" [ngClass]="{ dark: filler.gettheme() === 'dark' }">
    <h1>PRESENT</h1>
    <span class="underline"></span>
    <div class="sub">
        <div class="left">
            <img src="https://pbs.twimg.com/profile_images/1399047135430025222/Vh6v_jo9_400x400.jpg" alt="">
        </div>
        <div class="right">
            <h2>Hello, My name is Harsh. I'm currently employed at DappLooker as a frontend developer.
                </h2>
                <p>DappLooker is a community-driven analytics and visualisation platform for blockchain networks and Dapps across multiple chains. Users can run SQL queries on blockchain data and create dashboards with an easy-to-use editor.</p>
        </div>
    </div>
    <div class="products">
        <div class="card">
            <div class="sub-card">
            <img src="https://pbs.twimg.com/profile_images/1399047135430025222/Vh6v_jo9_400x400.jpg"  alt="">
            <h3>DappLooker</h3>
            <h4>Contributor</h4>
            <p>
                DappLooker is a community-driven analytics and visualisation platform for blockchain networks and Dapps across multiple chains. Users can run SQL queries on blockchain data and create dashboards with an easy-to-use editor.
            </p>
        </div>
        </div>
        <div class="card">
            <div class="sub-card">
            <img src="./Screenshot from 2022-09-18 22-55-28.jpg" alt="">
            <h3>GraphLooker</h3>
            <h4>Contributor</h4>
            <p>
                GraphLooker is real-time generic subgraph explorer and visualizer.It helps subgraph developers and various Graph actors browse subgraph data, download data to CSV, sort and filter data in real time with just few clicks. We aim to make it easy for TheGraph's various actors to look deeper into the subgraph data with simplest of UX.
            </p>
        </div>
        </div>
    </div>
    
</div>