<div class="main" [ngClass]="{ dark: filler.gettheme() === 'dark' }">
  <svg
    *ngIf="filler.gettheme() !== 'dark'"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="#ff99c8"
      fill-opacity="1"
    ></path>
  </svg>
  <svg
    *ngIf="filler.gettheme() === 'dark'"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="#aa22bf"
      fill-opacity="1"
    ></path>
  </svg>
  <h1
    (mouseenter)="filler.circleWidthHandler()"
    (mouseleave)="filler.circleWidthHandler()"
  >
    PRESENT
  </h1>
  <span class="underline"></span>
  <div class="sub">
    <div data-aos="fade-up" data-aos-duration="2000" class="left">
      <img
        (mouseenter)="filler.circleWidthHandler()"
        (mouseleave)="filler.circleWidthHandler()"
        src="https://pbs.twimg.com/profile_images/1399047135430025222/Vh6v_jo9_400x400.jpg"
        alt=""
      />
    </div>
    <div
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
      data-aos="fade-up"
      data-aos-duration="2000"
      class="right"
    >
      <h2>I'm currently employed at DappLooker as a frontend developer.</h2>
      <p>
        DappLooker is a community-driven analytics and visualisation platform
        for blockchain networks and Dapps across multiple chains. Users can run
        SQL queries on blockchain data and create dashboards with an easy-to-use
        editor.
      </p>
    </div>
  </div>
  <div class="products">
    <div
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
      data-aos="fade-up"
      data-aos-duration="2000"
      class="card"
    >
      <div class="sub-card">
        <img
          src="https://pbs.twimg.com/profile_images/1399047135430025222/Vh6v_jo9_400x400.jpg"
          alt=""
        />
        <h3>DappLooker</h3>
        <h4>Contributor</h4>
        <p>
          DappLooker is a community-driven analytics and visualisation platform
          for blockchain networks and Dapps across multiple chains. Users can
          run SQL queries on blockchain data and create dashboards with an
          easy-to-use editor.
        </p>
        <div class="tech-stack">
          <h6>tech stack used:-</h6>
          <ul>
            <li>
              <img
                src="https://angular.io/assets/images/logos/angular/angular.svg"
                alt="angular"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                alt="HTML"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                alt="CSS"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                alt="javascript"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                alt="typescript"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg"
                alt="figma"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
      data-aos="fade-up"
      data-aos-duration="2000"
      class="card"
    >
      <div class="sub-card">
        <img
          src="https://dapplooker.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2e433de7-9123-4072-af75-1ac6a1b2f563%2Fcoslo.png?table=block&id=07bc3adf-176b-488c-a230-59ddbd41387f&spaceId=897ff260-5cc1-461b-bc84-3ed3a6ba3d06&width=250&userId=&cache=v2"
          alt=""
        />
        <h3>GraphLooker</h3>
        <h4>Contributor</h4>
        <p>
          GraphLooker is real-time generic subgraph explorer and visualizer.It
          helps subgraph developers and various Graph actors browse subgraph
          data, download data to CSV, sort and filter data in real time with
          just few clicks. We aim to make it easy for TheGraph's various actors
          to look deeper into the subgraph data with simplest of UX.
        </p>
        <div class="tech-stack">
          <h6>tech stack used :-</h6>
          <ul>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
                alt="react js"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                alt="HTML"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                alt="CSS"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                alt="javascript"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                alt="typescript"
              />
            </li>
            <li>
              <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg"
                alt="figma"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
