@import "./../../../utility/utility.scss";
.main {
  color: white;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub {
    -webkit-filter: $pinkWebkit;
    filter: $pinkFilter;
    padding-top: 80px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    @media screen and (max-width: 1200px) {
        column-gap: 100px;
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
    .right {
        display: flex;
        flex-direction: column;
      width: 60%;
      color: white;
      @media screen and (max-width: 700px){
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2,p{
            width: 480px;
        }
      }
      @media screen and (max-width: 500px) {
        h2, p{
            width: 340px;
        }
      }
      p {
        opacity: 70%;
        
      }
    }
    .left {
      width: 10%;
      @media screen and (max-width: 700px) {
        width: 200px;
        display: flex;
        justify-content: center;
      }
      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
    }
  }
  .products{
    -webkit-filter: $pinkWebkit;
    filter: $pinkFilter;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    color: white;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        border-radius: 20px;
        background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    .sub-card{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        width: 280px;
        height: 385px;
        background-color: black;
        h4{
            color: #64edff;
        }
        h3{
            position: absolute;
            top: 58px;
            text-decoration: underline;
        }
        img{
            position: absolute;
            top: 8px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        p{
            text-align: center;
            font-size: 12px;
            opacity: 70%;
        }
        .tech-stack{
          padding: 10px;
          width: 280px;
          position: absolute;
          bottom: 55px;
          ul{
            position: absolute;
            bottom: 1px;
            width: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
              img{
                width: 30px;
                height: 30px;
              }
            }
          }
        }
    }
    }
  }
  @media screen and (max-width: 500px) {
    padding-top: 50px;
  }
}

.dark {
  background-color: black;
}
