<section [ngClass]="{ dark: filler.gettheme() === 'dark' }">
  <div class="about-blur-shadow"></div>
  <div class="about-blur-shadow2"></div>
  <svg
    *ngIf="filler.gettheme() === 'dark'"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="#00000"
      fill-opacity="1"
    ></path>
  </svg>
  <svg
    *ngIf="filler.gettheme() != 'dark'"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="#ece2d0"
      fill-opacity="1"
    ></path>
  </svg>

  <!-- ****START COMPONENT***** -->
  <div class="about-container container">
    <h5 class="get-to-know">Get To Know</h5>
    <h1
      class="about-me"
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
      style="color: #b44ab0"
    >
      About Me
    </h1>
    <div class="about-section container">
      <div class="my-img-background-container">
        <img
          class="my-img-background"
          src="https://unmarshal.io/assets/img/bg-1.png"
          alt=""
        />
      </div>
      <div data-aos="flip-up" class="mypic">
        <img src="./assets/mypic2.png" alt="mypic" />
      </div>
      <div data-aos="fade-up" data-aos-duration="2000" class="about">
        <h2
          (mouseenter)="filler.circleWidthHandler()"
          (mouseleave)="filler.circleWidthHandler()"
          class="my-about"
        >
          " Greetings, I'm Harsh. I work at Dapplooker as a front-end developer.
          I'm a driven individual who is eager to learn new technologies in
          order to advance daily. In order to learn more about various
          technologies and make a major contribution to the industry, I'm
          seeking for challenging possibilities in the IT sector. React Js,
          Redux, Angular, Bootstrap, and other programming languages and
          frameworks are a few things I have experience with."
        </h2>
      </div>
    </div>
  </div>

  <h1 class="skills">SKILLS</h1>
  <div class="my-img-background-container">
    <img
      *ngIf="filler.gettheme() === 'dark'"
      class="my-img-background"
      src="https://unmarshal.io/assets/img/bg-1.png"
      alt=""
    />
  </div>

  <div data-aos="fade-up" data-aos-duration="2000" class="main-skills">
    <a
      class="emoji"
      *ngIf="this.filler.fillerWidth > 50 && showSkillBar"
      href="https://www.freeiconspng.com/img/45553"
      title="Image from freeiconspng.com"
      ><img
        src="https://www.freeiconspng.com/uploads/emoticons-whatsapp-photo-png-hd-12.png"
        alt="Emoticons Whatsapp Photo PNG HD"
    /></a>
    <a
      class="emoji"
      *ngIf="
        this.filler.fillerWidth > 0 &&
        this.filler.fillerWidth < 40 &&
        showSkillBar
      "
      href="https://www.freeiconspng.com/img/45551"
      title="Image from freeiconspng.com"
      ><img
        src="https://www.freeiconspng.com/uploads/high-resolution-emoticons-whatsapp-png-clipart-10.png"
        alt="High Resolution Emoticons Whatsapp Png Clipart"
    /></a>
    <a
      class="emoji"
      *ngIf="this.filler.fillerWidth > 80 && showSkillBar"
      href="https://www.freeiconspng.com/img/45541"
      title="Image from freeiconspng.com"
      ><img
        src="https://www.freeiconspng.com/uploads/emoticons-whatsapp-png-free-vector-download-0.png"
        alt="Emoticons Whatsapp Png Free Vector Download"
    /></a>
    <div
      [ngClass]="{ 'skill-meter-white': filler.gettheme() === 'dark' }"
      *ngIf="showSkillBar"
      class="skill-meter"
    >
      <span
        class="filler"
        style="width: {{ this.filler.fillerWidth }}%"
        class="skill-fill"
      ></span>
    </div>
    <!-- <h1 *ngIf="showSkillBar">{{skillFill}}</h1> -->
    <span class="skill-tap" *ngIf="!showSkillBar"
      >&#128072; tap or hover on any skill</span
    >
    <div
      class="skills-container"
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
    >
      <app-capsule
        (mouseenter)="showSkillBar = true"
        (mouseleave)="showSkillBar = false"
        (parentComponent)="parentComponent($event)"
        class="skill"
        *ngFor="let skill of skills"
        [skillCapsule]="skill"
      ></app-capsule>
    </div>
  </div>
</section>
