@import "./../../../../utility/utility.scss";
.main {
  background-color: #ff99c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: black;
  }
  .first {
    padding-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      row-gap: 50px;
      justify-content: center;
      align-items: center;
    }
    .left {
      -webkit-filter: $pinkWebkit;
      filter: $pinkFilter;
      width: 30%;

      img {
        border-radius: 50%;
        width: 80%;
        height: 80%;
      }
    }
    .right {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .github {
        -webkit-filter: $pinkWebkit;
        filter: $pinkFilter;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px;
        border-radius: 40px;
        background-color: #4159d062;
        background-image: linear-gradient(
          43deg,
          #4159d03a 0%,
          #c850c044 46%,
          #ffcd703a 100%
        );
        img {
          width: 95%;
        }
        h2 {
          position: absolute;
          color: black;
          top: -40px;
          left: 10px;
        }
      }
      @media screen and (max-width: 700px) {
        width: 490px;
        .github {
          width: 490px;
          height: 200px;
          img {
            width: 490px;
            height: 100px;
          }
        }
      }
      @media screen and (max-width: 500px) {
        width: 340px;
        .github {
          width: 350px;
          height: 100px;
          img {
            width: 320px;
            height: 60px;
          }
        }
      }
    }
  }
}

.dark {
  color: white;
  background-color: #aa22bf;
  h1 {
    color: white;
  }
  .first {
    .right {
      .github {
        h2 {
          color: white;
        }
      }
    }
  }
}
