<section [ngClass]="{ dark: filler.gettheme() === 'dark' }">
  <div class="circle-blur-shadow"></div>
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
      opacity=".25"
      class="shape-fill"
      fill="#B149BE"
      fill-opacity="1"
    ></path>
    <path
      d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
      opacity=".5"
      class="shape-fill"
      fill="#B149BE"
      fill-opacity="1"
    ></path>
    <path
      d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
      class="shape-fill"
      fill="#B149BE"
      fill-opacity="1"
    ></path>
  </svg>
  <div class="main-nav-bar container">
    <div class="social-links">
      <ul>
        <a target="_blank" href="https://twitter.com/harshrjjpt">
          <li class="twitter"><img src="./assets/twitter (2).png" alt="" /></li
        ></a>
        <a target="_blank" href="https://github.com/harshrjjpt"
          ><li class="github"><img src="./assets/github.png" alt="" /></li
        ></a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/harsh-rajput-0315381a8/"
          ><li class="linkedin"><img src="./assets/linkedin.png" alt="" /></li
        ></a>
      </ul>
    </div>
    <!-- <button
      (mouseenter)="filler.circleWidthHandler()"
      (mouseleave)="filler.circleWidthHandler()"
      (click)="themeHandler()"
      class="theme-btn"
    >
      change theme
    </button> -->
    <div class="nav">
      <ul>
        <li (click)="scrollTo('about')">ABOUT</li>
        <li (click)="scrollTo('contact')">CONTACT</li>
        <li (click)="scrollTo('experience')">EXPERIENCE</li>
        <li (click)="scrollTo('projects')">PROJECTS</li>
      </ul>
    </div>
    <div (click)="modalHandler()" class="hamburger-icon">
      <img src="./assets/hamburger.png" alt="" />
    </div>
  </div>
  <div class="my-img-background-container">
    <img
      *ngIf="filler.gettheme() === 'dark'"
      class="my-img-background"
      src="https://unmarshal.io/assets/img/bg-8.png"
      alt=""
    />
  </div>

  <h5>Hello, I'm</h5>
  <h1
    data-aos="fade-up"
    data-aos-duration="2000"
    (mouseenter)="filler.circleWidthHandler()"
    (mouseleave)="filler.circleWidthHandler()"
  >
    Harsh
  </h1>

  <h2>A Frontend Developer</h2>

  <div class="buttons">
    <a
      href="https://docs.google.com/document/d/1DnUIjLmtg1cdGWqvrbdy3_h5FbuwPKt-/edit?usp=sharing&ouid=115407358632877508965&rtpof=true&sd=true"
      target="_blank"
    >
      <button class="cv" role="button">Download CV</button></a
    >

    <button role="button">Let's Talk</button>
  </div>

  <div
    (mouseenter)="filler.circleWidthHandler()"
    (mouseleave)="filler.circleWidthHandler()"
    data-aos="fade-up"
    data-aos-duration="2000"
    class="my-img"
  >
    <img src="../../../../assets/mypic4.jpeg" alt="" />
  </div>

  <div class="modal-container">
    <app-modal
      data-aos="fade-up"
      data-aos-duration="2000"
      *ngIf="filler.showModal"
      class="my-modal"
    ></app-modal>
  </div>
</section>
